<nb-card>
    <nb-card-header>
        <h6>Visão Geral</h6>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Regiões">
                <ag-grid-angular
                    style="width: 100%; height: 150px;"
                    class="ag-theme-balham"
                    [rowData]="gridOptions.rowData"
                    [columnDefs]="gridOptions.columnDefs"
                    *ngIf="gridAvailable">
                </ag-grid-angular>
            </nb-tab>
            <nb-tab tabTitle="Histórico">
                <div class="row d-flex justify-content-center" *ngIf="chartOptions.length > 1">
                    <highcharts-chart
                      [Highcharts]="highcharts"
                      [options]="chartOptions[0]"
                      style="height: 400px; display: block;">
                    </highcharts-chart>
                </div>
                <div class="row d-flex justify-content-center" *ngIf="chartOptions.length > 1">
                    <highcharts-chart
                      [Highcharts]="highcharts"
                      [options]="chartOptions[1]"
                      style="height: 400px; display: block;">
                    </highcharts-chart>
                </div>
            </nb-tab>
        </nb-tabset>
        <p class="d-flex justify-content-center" *ngIf="!(chartOptions.length > 1) || !gridAvailable">Carregando...</p>
    </nb-card-body>
    <nb-card-footer>
        <p>Segundo o Google, <i>“os números representam o interesse de pesquisa relativo ao ponto mais alto no gráfico de uma determinada região em um dado período. Um valor de 100 representa o pico de popularidade de um termo. Um valor de 50 significa que o termo teve metade da popularidade. Uma pontuação de 0 significa que não havia dados suficientes sobre o termo.”</i></p>
    </nb-card-footer>
</nb-card>